/*------------------------------------------------------------------------------------
# General
------------------------------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #00001a;
  background-color: #f1f1f1;
}

a {
  color: #501768;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #7d06ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
/*------------------------------------------------------------------------------------
# Sections General
------------------------------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}