.education-card {
    transition: all 0.3s ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .education-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .education-card .card-body {
    padding: 1.5rem;
  }
  
  .education-card .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .education-card .card-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .education-card .card-text {
    font-size: 0.9rem;
  }
  
  .education-card .border-top {
    border-color: rgba(0, 0, 0, 0.1) !important;
  }
  

.education .education-item{
    position: relative;
    padding: 0 0 20px 20px;
    margin-top: -2px;
}

.education .education-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: rgb(185, 19, 185);
    margin-bottom: 10px;
}

.education .education-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10 px;
}

.education .education-item ul {
    padding-left: 20px;
}

.education .education-item ul li {
    padding-bottom: 10px;
}

.education .education-item last-child{
    padding-bottom: 0;
}

.education .education-item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
}